<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="medialogEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devoss.database.windows.net;initial catalog=medialog;persist security info=True;user id=karim;password=pass@word123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="medialogEntities1" connectionString="metadata=res://*/test.csdl|res://*/test.ssdl|res://*/test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devoss.database.windows.net;initial catalog=medialog;persist security info=True;user id=karim;password=pass@word123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>